/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: $small-padding;
    background-color: $dark-background !important;
    color: $dark-color !important;

    * {
        background-color: rgba(255,255,255,0) !important;
        color: $dark-color !important;
    }

    .social {
        font-size: 2rem;
    }   
}