/* Main */

.main {
    @include main-body-contrast;

    * {
        background-color: rgba(0,0,0,0) !important; 
    }
}

.index-image {
    margin: $base-margin;
    margin-right: 0;
    margin-top: 0;
}

img {
    max-width: 100%;
}