/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    margin: 0 $site-margin;
    padding: 0 $small-padding;

    img {
        float: right;
    }
}

.header, .footer {
    flex: 0 0 auto;
}