/* Site */

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;

    text-decoration: none;

    background: $light-background;
    color: $light-color;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

html {
    line-height: $base-line-height;
}

h1,h2 {
    color: $primary-color;
}

h3,h4,h5,h6 {
    color: $secondary-color;
}