/* Variables */

$main-font: 'Montserrat', sans-serif;
$header-font: 'Roboto Mono', monospace;

$light-color: rgba(255,255,255,1);
$light-muted-color: rgba(255,255,255,0.5);
$light-background: #121212;

$dark-color: rgba(255,255,255,1);
$dark-background: rgba(255,255,255,0.08);
$background-add: rgba(255,255,255,0.04);

$frontpage-header: url('../../../image/frontpage/city-day.webp');

$primary-color: #CCE100;
$primary-muted-color: #CCE10040;
$secondary-color: #E0CC00;
$link-color: #0090FF;

$logo-filter: brightness(1000%);

$base-line-height: 1.4;

$base-padding: 3em;
$base-margin: 3em;

$site-margin: 10%;

$small-padding: 1em;
$small-margin: 1em;

$base-box-height: 200px;

@mixin element-padding {
    padding: $base-padding;
    padding-bottom: 0;
}

@mixin element-padding-small {
    padding: $small-padding;
    padding-bottom: 0;
}

@mixin header-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin main-body-contrast {
    background-color: $background-add;
    border-left: 1px solid $light-color;
    border-right: 1px solid $light-color;
}